<ion-header>
    <ion-toolbar color="primary">
<ion-buttons slot="start">
  <ion-back-button defaultHref="checkdn-users"></ion-back-button>
</ion-buttons>
      <ion-title>
        {{user?.displayName}}
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div id="coverPic" style="background:  lightgrey; width: 100%; height: 200px; background-size: cover;">
        <img style="height: 200px; width: 100%"  src="{{user?.cover}}" />
    </div>
  <div text-center>
      <div style="display: inline-block; position: relative; margin: -25% 0px auto;">
          <div  id="profilePic" style="background: lightgrey; height: 151px; width: 151px; border: 2px solid white">
              <img style="height: 151px; width: 151px" src="{{user.photoURL}}" />
            </div>
      </div>
  </div>
       

      <h5 text-center>{{user?.displayName}}</h5>
      <p *ngIf="!user" class="skeleton"></p><br>
  <ion-item-group *ngIf="user">
    <ion-item-divider>Social Media </ion-item-divider>
      <ion-item detail>
          <ion-label>Facebook</ion-label>
          <ion-label text-right (click)="showPage('https://facebook.com/adiontae.gerron')">{{user?.facebook}}</ion-label>
       </ion-item>
       <ion-item detail>
          <ion-label>Instagram</ion-label>
          <ion-label text-right (click)="showPage('https://instagram.com/adiontae')">{{user?.instagram}}</ion-label>
       </ion-item>
       <ion-item lines="none"></ion-item>
  </ion-item-group>
 

</ion-content>
