<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button  style="color:white" ></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Profile
      </ion-title>
      <ion-buttons slot="end">
        <ion-button style="color: white">
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div style="position: relative;">
    <div id="coverPic" style="background: lightgrey; width: 100%; height: 200px; background-size: 100% 100%">
        <label (click)="getCoverPhoto()" class="edit-btn">edit</label>
    </div>
  </div>
  <div text-center>
      <div style="display: inline-block; position: relative; margin: -25% 0px auto;">
          <div  id="profilePic" style="background: lightgrey; height: 151px; width: 151px; border: 2px solid white">
              <label class="edit-btn" for="pic">edit</label>
            </div>
      </div>
  </div>
       
          
        <input style="display:none"  name="pic" id="pic" type="file">
        <input style="display:none"  name="cover" id="cover" type="file">
      <h5 text-center>{{user?.displayName}}</h5>
      <p *ngIf="!user" class="skeleton"></p><br>
  <ion-item-group>
    <ion-item-divider>Social Media
      <p *ngIf="!edit" (click)="edit = true" slot="end">edit</p>
      <p *ngIf="edit" (click)="save()" slot="end">save</p>
    </ion-item-divider>
      <ion-item>
          <ion-label>Facebook</ion-label>
          <ion-input [disabled]="!edit" [(ngModel)]="user.facebook" (focus)="fbExample = true" (ionBlur)="fbExample = false"></ion-input>
       </ion-item>
       <p text-center *ngIf="fbExample">https://facebook.com/{{user.facebook}}</p>
       <ion-item>
          <ion-label>Instagram</ion-label>
          <ion-input  [disabled]="!edit"  [(ngModel)]="user.instagram" (focus)="instaExample = true" (ionBlur)="instaExample = false"></ion-input>
       </ion-item>
       <p text-center *ngIf="instaExample">https://instagram.com/{{user.instagram}}</p>
       <ion-item></ion-item>
  </ion-item-group>
 

</ion-content>
