<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color:white"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <p *ngIf="!place" class="skeleton"></p>
      {{place?.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="viewCheckdnUsers()">
        {{place?.users}}
        <ion-icon slot="icon-only" name="people"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!place">
    <p class="skeleton"></p>
    <p class="skeleton"></p>
    <p class="skeleton"></p>
  </div>

  <div style="display:none" #map id="map"></div>
  <ion-list lines="none">
    <ion-item style="margin-bottom: 15px" *ngFor="let f of feed">
      <ion-avatar>
        <img src="../../../assets/imgs/photo_anonymous.png">
      </ion-avatar>
      <div style="max-width: 90%" text-wrap class="text_chat"> {{f.text}} <br>
        <img style="height:100px;" (click)="viewPhoto(img)" src="{{img}}" *ngFor="let img of f.imgs">
      </div>
    </ion-item>
  </ion-list>



</ion-content>

<ion-footer>
  <ion-toolbar>
   <!-- <label  float-left for="pic">
      <ion-icon style="color: white" size="large" name="image"></ion-icon>
    </label> -->
    <ion-buttons slot="end">
        <ion-button float-right (click)="send()">
            <ion-icon style="color: white" slot="icon-only" name="send"></ion-icon>
          </ion-button>
    </ion-buttons>
      <div style=" background-color: white; padding: 5px; border-radius: 25px; 
      width: 85%; margin-left: 45px" contenteditable="true" id="textbox" >
   </div>
    

   <input style="display:none" (change)="getPhoto($event)" accept="image/*" name="pic" id="pic" type="file">
  </ion-toolbar>
</ion-footer>