<ion-header>

    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="profile"></ion-back-button>
      </ion-buttons>
      <ion-title>Edit Profile</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="save()" clear>
          Save
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content >
    <div>
        <label for="pic">
          <ion-item  lines="none" >
              <ion-thumbnail slot="start">
                  <img src="{{user?.photoURL}}" />
                </ion-thumbnail>
                <ion-label>{{user?.displayName}}</ion-label>
          </ion-item>
            
          </label>
          <input style="display:none" (change)="getPicture($event)" name="pic" id="pic" type="file">
      <ion-item-group>
        <ion-item-divider color="light">Personal</ion-item-divider>
        <ion-item>
          <ion-label>Full Name</ion-label>
          <ion-input placeholder="edit" [(ngModel)]="user.displayName" type="text"></ion-input>
        </ion-item>
<!--         
        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-select placeholder="edit" interface="action-sheet" [(ngModel)]="user.gender">
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Relationship</ion-label>
          <ion-select placeholder="edit" interface="action-sheet" [(ngModel)]="user.relationship">
            <ion-select-option value="Single">Single</ion-select-option>
            <ion-select-option value="In Relationship">In Relationship</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Birthday</ion-label>
          <ion-datetime placeholder="99/99/9999" picker-format="MM/DD/YYYY" display-format="MM/DD/YYYY" [(ngModel)]="user.birthday"></ion-datetime>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color="light">Work</ion-item-divider>
        <ion-item>
    
          <ion-label>Income</ion-label>
          <ion-select placeholder="edit" interface="action-sheet" [(ngModel)]="user.income">
            <ion-select-option value="<25">
              < 25,000</ion-select-option>
                <ion-select-option value="25,001 - 45,000"> 25,001 - 45,000</ion-select-option>
                <ion-select-option value="45,001 - 65,000"> 45,001 - 65,000</ion-select-option>
                <ion-select-option value="65,001 - 95,000"> 65,001 - 95,000</ion-select-option>
                <ion-select-option value="95,001 - 150,000"> 95,001 - 150,000</ion-select-option>
                <ion-select-option value="150,000 +"> 150,000 +</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Education</ion-label>
          <ion-select placeholder="edit" interface="action-sheet" [(ngModel)]="user.education">
            <ion-select-option value="High School">High School</ion-select-option>
            <ion-select-option value="Associates"> Associate</ion-select-option>
            <ion-select-option value="Some College"> Some College</ion-select-option>
            <ion-select-option value="Bachelor"> Bachelor</ion-select-option>
            <ion-select-option value="Master">Master</ion-select-option>
            <ion-select-option value="PhD"> PhD</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Job</ion-label>
          <ion-input placeholder="edit" [(ngModel)]="user.job" type="text"></ion-input>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color="light">Social</ion-item-divider>
        <ion-item text-wrap>
          <ion-label>Facebook</ion-label>
          <ion-input placeholder="edit" [(ngModel)]="user.facebook" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Instagram</ion-label>
          <ion-input placeholder="edit" [(ngModel)]="user.instagram" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Snapchat</ion-label>
          <ion-input placeholder="edit" [(ngModel)]="user.snapchat" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Twitter</ion-label>
            <ion-input placeholder="edit" [(ngModel)]="user.twitter" type="text"></ion-input>
          </ion-item>
        <ion-item>
          <ion-label>LinkedIn</ion-label>
          <ion-input placeholder="edit" placeholder="edit" [(ngModel)]="user.linkedin" type="text"></ion-input>
        </ion-item> -->
      </ion-item-group> 
    
    </div>
     
  </ion-content>